<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daviddo.pruebadelogin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"

        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logodefinitivo1"
        android:label="Puzzle Rush"
        android:roundIcon="@drawable/logodefinitivo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.PruebaDeLogin">
        <activity android:name=".GameOver"></activity>
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrarActivity" />
        <activity android:name=".InicioActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PartidaActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>